/biblatex-gost-examples.pdf
/biblatex-gost-examples.synctex.gz
/biblatex-gost.pdf
/biblatex-gost.synctex.gz
*.aux
*.bbl
*.bcf
*.blg
*.out
*.fls
*.synctex
*.log
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.out
auto/
*.ilg
*.ind
*.lof
*.lot
*.toc
*.idx
